user:
  cycle_frequency: 12
  experiment_dir: ""
  first_cycle: !!timestamp 2023-09-15T00:00:00
  last_cycle:  !!timestamp 2023-09-15T00:00:00
  mesh_label: conus
  mpas_app: ""
  platform: big_computer
  workflow_blocks:
    - cold_start.yaml
data:
  mesh_files: /path/to/nonstandard/location
platform:
  scheduler: slurm
get_ics_data:
  execution:
    cores: 1
    walltime: 00:10:00
  external_model: GFS
  run_dir: '{{ user.experiment_dir }}/{{ cycle.strftime("%Y%m%d%H") }}/{{ get_ics_data.external_model }}'
get_lbcs_data:
  execution:
    cores: 1
    walltime: 00:20:00
  external_model: GFS
  run_dir: '{{ user.experiment_dir }}/{{ cycle.strftime("%Y%m%d%H") }}/{{ get_lbcs_data.external_model }}'
prepare_grib:
  ungrib:
    execution:
      batchargs:
        cores: 1
        walltime: 00:15:00
      envcmds:
        - source {{ user.mpas_app }}/load_wflow_modules.sh {{ user.platform }}
        - conda activate ungrib
      executable: ungrib
    gfs_files:
      forecast_length: 12
      interval_hours: 6
      offset: 0
      path: "{{ get_lbcs_data.run_dir }}/gfs.t{cycle_hour:02d}z.pgrb2.0p25.f{forecast_hour:03d}"
    run_dir: '{{ user.experiment_dir }}/{{cycle.strftime("%Y%m%d%H")}}/ungrib'
    vtable: "{{ user.mpas_app }}/parm/ungrib/Vtable.GFS"
  platform:
    account: '{{ platform.account }}'
    scheduler: '{{ platform.scheduler }}'
create_ics:
  mpas_init: &mpas_init_config
    boundary_conditions:
      interval_hours: 6
      length: 6
      offset: 0
      path: "{{ prepare_grib.ungrib['run_dir'] }}"
    execution:
      batchargs:
        cores: 12
        walltime: 01:30:00
      envcmds:
        - ulimit -s unlimited || true
        - module use {{ user.mpas_app }}/modulefiles
        - module load build_{{ user.platform }}_intel
      executable: "{{ user.mpas_app }}/exec/init_atmosphere_model"
      mpiargs:
        - "--ntasks={{ create_ics.mpas_init['execution']['batchargs']['cores']}}"
      mpicmd: srun
    files_to_copy: &mpas_init_files_to_copy
      "{{ user.mesh_label }}.static.nc": "{{ data.mesh_files }}/{{ user.mesh_label }}.static.nc"
      "{{ user.mesh_label }}.graph.info.part.{{create_ics.mpas_init['execution']['batchargs']['cores']}}": '{{ user.experiment_dir }}/{{ user.mesh_label }}.graph.info.part.{{create_ics.mpas_init["execution"]["batchargs"]["cores"]}}'
      stream_list.atmosphere.diagnostics: "{{ user.mpas_app }}/parm/mpas/stream_list.atmosphere.diagnostics"
      stream_list.atmosphere.output: "{{ user.mpas_app }}/parm/mpas/stream_list.atmosphere.output"
      stream_list.atmosphere.surface: "{{ user.mpas_app }}/parm/mpas/stream_list.atmosphere.surface"
    files_to_link: &mpas_init_files_to_link
      CAM_ABS_DATA.DBL: "{{ user.mpas_app }}/src/MPAS-Model/CAM_ABS_DATA.DBL"
      CAM_AEROPT_DATA.DBL: "{{ user.mpas_app }}/src/MPAS-Model/CAM_AEROPT_DATA.DBL"
      GENPARM.TBL: "{{ user.mpas_app }}/src/MPAS-Model/GENPARM.TBL"
      LANDUSE.TBL: "{{ user.mpas_app }}/src/MPAS-Model/LANDUSE.TBL"
      OZONE_DAT.TBL: "{{ user.mpas_app }}/src/MPAS-Model/OZONE_DAT.TBL"
      OZONE_LAT.TBL: "{{ user.mpas_app }}/src/MPAS-Model/OZONE_LAT.TBL"
      OZONE_PLEV.TBL: "{{ user.mpas_app }}/src/MPAS-Model/OZONE_PLEV.TBL"
      RRTMG_LW_DATA: "{{ user.mpas_app }}/src/MPAS-Model/RRTMG_LW_DATA"
      RRTMG_LW_DATA.DBL: "{{ user.mpas_app }}/src/MPAS-Model/RRTMG_LW_DATA.DBL"
      RRTMG_SW_DATA: "{{ user.mpas_app }}/src/MPAS-Model/RRTMG_SW_DATA"
      RRTMG_SW_DATA.DBL: "{{ user.mpas_app }}/src/MPAS-Model/RRTMG_SW_DATA.DBL"
      SOILPARM.TBL: "{{ user.mpas_app }}/src/MPAS-Model/SOILPARM.TBL"
      VEGPARM.TBL: "{{ user.mpas_app }}/src/MPAS-Model/VEGPARM.TBL"
      MP_THOMPSON_QRacrQG_DATA.DBL: "{{ user.mpas_app }}/src/MPAS-Model/MP_THOMPSON_QRacrQG_DATA.DBL"
      MP_THOMPSON_QRacrQS_DATA.DBL: "{{ user.mpas_app }}/src/MPAS-Model/MP_THOMPSON_QRacrQS_DATA.DBL"
      MP_THOMPSON_freezeH2O_DATA.DBL: "{{ user.mpas_app }}/src/MPAS-Model/MP_THOMPSON_freezeH2O_DATA.DBL"
      MP_THOMPSON_QIautQS_DATA.DBL: "{{ user.mpas_app }}/src/MPAS-Model/MP_THOMPSON_QIautQS_DATA.DBL"
    namelist:
      base_file: "{{ user.mpas_app }}/src/MPAS-Model/namelist.init_atmosphere"
      update_values: &mpas_init_update_values
        nhyd_model:
          config_init_case: 7
        data_sources:
          config_fg_interval: !int "{{ create_ics.mpas_init['boundary_conditions']['interval_hours'] * 3600 }}"
          config_met_prefix: FILE
        vertical_grid:
          config_blend_bdy_terrain: true
        preproc_stages:
          config_native_gwd_static: false
          config_static_interp: false
        decomposition:
          config_block_decomp_file_prefix: "{{ user.mesh_label }}.graph.info.part."
    run_dir: '{{ user.experiment_dir }}/{{ cycle.strftime("%Y%m%d%H") }}/mpas_ics'
    streams:
      path: "{{ user.mpas_app }}/parm/mpas/streams.init_atmosphere.IN"
      values: &mpas_init_streams_values
        input_filename: "{{ user.mesh_label }}.static.nc"
        lbc_filename: lbc.$Y-$M-$D_$h.$m.$s.nc
        output_filename: "{{ user.mesh_label }}.init.nc"
        output_interval: 06:00:00
        surface_filename: x1.40962.sfc_update.nc
        surface_output_interval: !int "{{ 24 * 3600 }}"
  platform:
    account: '{{ platform.account }}'
    scheduler: '{{ platform.scheduler }}'
create_lbcs:
  mpas_init:
    <<: *mpas_init_config
    files_to_copy:
      <<: *mpas_init_files_to_copy
      "{{ user.mesh_label }}.init.nc": "{{ create_ics.mpas_init['run_dir'] }}/{{ user.mesh_label }}.init.nc"
    namelist:
      base_file: "{{ user.mpas_app }}/src/MPAS-Model/namelist.init_atmosphere"
      update_values:
        <<: *mpas_init_update_values
        nhyd_model:
          config_init_case: 9
    run_dir: '{{ user.experiment_dir }}/{{ cycle.strftime("%Y%m%d%H") }}/mpas_lbcs'
    streams:
      path: "{{ user.mpas_app }}/parm/mpas/streams.init_atmosphere.IN"
      values:
        <<: *mpas_init_streams_values
        input_filename: "{{ user.mesh_label }}.init.nc"
        output_filename: foo.nc
  platform:
    account: '{{ platform.account }}'
    scheduler: '{{ platform.scheduler }}'
forecast:
  mpas:
    execution:
      batchargs:
        cores: 32
        walltime: 01:30:00
      envcmds:
        - ulimit -s unlimited || true
        - module use {{ user.mpas_app }}/modulefiles
        - module load build_{{ user.platform }}_intel
      executable: "{{ user.mpas_app }}/exec/atmosphere_model"
      mpiargs:
        - "--ntasks={{ forecast.mpas['execution']['batchargs']['cores']}}"
      mpicmd: srun
    files_to_copy:
      "{{ user.mesh_label }}.init.nc": "{{ create_ics.mpas_init['run_dir'] }}/{{ user.mesh_label }}.init.nc"
      "{{ user.mesh_label }}.graph.info.part.{{forecast.mpas['execution']['batchargs']['cores']}}": '{{ user.experiment_dir }}/{{ user.mesh_label }}.graph.info.part.{{forecast.mpas["execution"]["batchargs"]["cores"]}}'
      stream_list.atmosphere.diagnostics: "{{ user.mpas_app }}/parm/mpas/stream_list.atmosphere.diagnostics"
      stream_list.atmosphere.output: "{{ user.mpas_app }}/parm/mpas/stream_list.atmosphere.output"
      stream_list.atmosphere.surface: "{{ user.mpas_app }}/parm/mpas/stream_list.atmosphere.surface"
    files_to_link:
      <<: *mpas_init_files_to_link
    lateral_boundary_conditions:
      interval_hours: 6
      offset: 0
      path: "{{ create_lbcs.mpas_init['run_dir'] }}"
    length: 6
    namelist:
      base_file: "{{ user.mpas_app }}/src/MPAS-Model/namelist.atmosphere"
      update_values:
        nhyd_model:
          config_dt: 60.0
        limited_area:
          config_apply_lbcs: true
        decomposition:
          config_block_decomp_file_prefix: "{{ user.mesh_label }}.graph.info.part."
        physics:
          config_physics_suite: convection_permitting
    run_dir: '{{ user.experiment_dir }}/{{ cycle.strftime("%Y%m%d%H") }}/forecast'
    streams:
      path: "{{ user.mpas_app }}/parm/mpas/streams.atmosphere.IN"
      values:
        input_filename: "{{ user.mesh_label }}.init.nc"
        input_interval: 06:00:00
        output_interval: 06:00:00
  platform:
    account: '{{ platform.account }}'
    scheduler: '{{ platform.scheduler }}'
post:
  mpassit:
    execution:
      batchargs:
        walltime: 00:12:00
        cores: 72
        native:
          - --exclusive
    fix_dir: /path/to/fix/files
    run_dir: '{{ user.experiment_dir }}/{{ cycle.strftime("%Y%m%d%H") }}/mpassit'
  upp:
    execution:
      batchargs:
        walltime: 00:12:00
        cores: 48
        native:
          - --exclusive
      envcmds:
        - ulimit -s unlimited || true
        - module use {{ user.mpas_app }}/src/UPP/modulefiles
        - module load {{ user.platform }}
      executable: "{{ user.mpas_app }}/exec/upp.x"
      mpicmd: srun
    files_to_copy:
      postxconfig-NT.txt: "{{ user.mpas_app }}/parm/upp/postxconfig-NT-hfip.txt"
    files_to_link:
      postcntrl.xml: "{{ user.mpas_app }}/parm/upp/hfip_postcntrl.xml"
      rap_micro_lookup.dat: "{{ user.mpas_app }}/src/UPP/parm/rap_micro_lookup.dat"
      nam_micro_lookup.dat: "{{ user.mpas_app }}/src/UPP/parm/nam_micro_lookup.dat"
      hires_micro_lookup.dat: "{{ user.mpas_app }}/src/UPP/parm/hires_micro_lookup.dat"
      params_grib2_tbl_new: "{{ user.mpas_app }}/src/UPP/parm/params_grib2_tbl_new"
      post_avblflds.xml: "{{ user.mpas_app }}/src/UPP/parm/post_avblflds.xml"
      abi_gr.SpcCoeff.bin: "{{ platform.crtm_dir }}/abi_gr.SpcCoeff.bin"
      abi_gr.TauCoeff.bin: "{{ platform.crtm_dir }}/abi_gr.TauCoeff.bin"
      AerosolCoeff.bin: "{{ platform.crtm_dir }}/AerosolCoeff.bin"
      ahi_himawari8.bin: "{{ platform.crtm_dir }}/ahi_himawari8.SpcCoeff.bin"
      ahi_himawari8.bin: "{{ platform.crtm_dir }}/ahi_himawari8.TauCoeff.bin"
      amsre_aqua.SpcCoeff.bin: "{{ platform.crtm_dir }}/amsre_aqua.SpcCoeff.bin"
      amsre_aqua.TauCoeff.bin: "{{ platform.crtm_dir }}/amsre_aqua.TauCoeff.bin"
      CloudCoeff.bin: "{{ platform.crtm_dir }}/CloudCoeff.bin"
      FASTEM4.MWwater.EmisCoeff.bin: "{{ platform.crtm_dir }}/FASTEM4.MWwater.EmisCoeff.bin"
      FASTEM5.MWwater.EmisCoeff.bin: "{{ platform.crtm_dir }}/FASTEM5.MWwater.EmisCoeff.bin"
      FASTEM6.MWwater.EmisCoeff.bin: "{{ platform.crtm_dir }}/FASTEM6.MWwater.EmisCoeff.bin"
      imgr_g11.SpcCoeff.bin: "{{ platform.crtm_dir }}/imgr_g11.SpcCoeff.bin"
      imgr_g11.TauCoeff.bin: "{{ platform.crtm_dir }}/imgr_g11.TauCoeff.bin"
      imgr_g12.SpcCoeff.bin: "{{ platform.crtm_dir }}/imgr_g12.SpcCoeff.bin"
      imgr_g12.TauCoeff.bin: "{{ platform.crtm_dir }}/imgr_g12.TauCoeff.bin"
      imgr_g13.SpcCoeff.bin: "{{ platform.crtm_dir }}/imgr_g13.SpcCoeff.bin"
      imgr_g13.TauCoeff.bin: "{{ platform.crtm_dir }}/imgr_g13.TauCoeff.bin"
      imgr_g15.SpcCoeff.bin: "{{ platform.crtm_dir }}/imgr_g15.SpcCoeff.bin"
      imgr_g15.TauCoeff.bin: "{{ platform.crtm_dir }}/imgr_g15.TauCoeff.bin"
      imgr_insat3d.SpcCoeff.bin: "{{ platform.crtm_dir }}/imgr_insat3d.SpcCoeff.bin"
      imgr_insat3d.TauCoeff.bin: "{{ platform.crtm_dir }}/imgr_insat3d.TauCoeff.bin"
      imgr_mt1r.SpcCoeff.bin: "{{ platform.crtm_dir }}/imgr_mt1r.SpcCoeff.bin"
      imgr_mt1r.TauCoeff.bin: "{{ platform.crtm_dir }}/imgr_mt1r.TauCoeff.bin"
      imgr_mt2.SpcCoeff.bin: "{{ platform.crtm_dir }}/imgr_mt2.SpcCoeff.bin"
      imgr_mt2.TauCoeff.bin: "{{ platform.crtm_dir }}/imgr_mt2.TauCoeff.bin"
      Nalli.IRwater.EmisCoeff.bin: "{{ platform.crtm_dir }}/Nalli.IRwater.EmisCoeff.bin"
      NPOESS.IRice.EmisCoeff.bin: "{{ platform.crtm_dir }}/NPOESS.IRice.EmisCoeff.bin"
      NPOESS.IRland.EmisCoeff.bin: "{{ platform.crtm_dir }}/NPOESS.IRland.EmisCoeff.bin"
      NPOESS.IRsnow.EmisCoeff.bin: "{{ platform.crtm_dir }}/NPOESS.IRsnow.EmisCoeff.bin"
      seviri_m10.SpcCoeff.bin: "{{ platform.crtm_dir }}/seviri_m10.SpcCoeff.bin"
      seviri_m10.TauCoeff.bin: "{{ platform.crtm_dir }}/seviri_m10.TauCoeff.bin"
      ssmi_f13.SpcCoeff.bin: "{{ platform.crtm_dir }}/ssmi_f13.SpcCoeff.bin"
      ssmi_f13.TauCoeff.bin: "{{ platform.crtm_dir }}/ssmi_f13.TauCoeff.bin"
      ssmi_f14.SpcCoeff.bin: "{{ platform.crtm_dir }}/ssmi_f14.SpcCoeff.bin"
      ssmi_f14.TauCoeff.bin: "{{ platform.crtm_dir }}/ssmi_f14.TauCoeff.bin"
      ssmi_f15.SpcCoeff.bin: "{{ platform.crtm_dir }}/ssmi_f15.SpcCoeff.bin"
      ssmi_f15.TauCoeff.bin: "{{ platform.crtm_dir }}/ssmi_f15.TauCoeff.bin"
      ssmis_f16.SpcCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f16.SpcCoeff.bin"
      ssmis_f16.TauCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f16.TauCoeff.bin"
      ssmis_f17.SpcCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f17.SpcCoeff.bin"
      ssmis_f17.TauCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f17.TauCoeff.bin"
      ssmis_f18.SpcCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f18.SpcCoeff.bin"
      ssmis_f18.TauCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f18.TauCoeff.bin"
      ssmis_f19.SpcCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f19.SpcCoeff.bin"
      ssmis_f19.TauCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f19.TauCoeff.bin"
      ssmis_f20.SpcCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f20.SpcCoeff.bin"
      ssmis_f20.TauCoeff.bin: "{{ platform.crtm_dir }}/ssmis_f20.TauCoeff.bin"
      tmi_trmm.SpcCoeff.bin: "{{ platform.crtm_dir }}/tmi_trmm.SpcCoeff.bin"
      tmi_trmm.TauCoeff.bin: "{{ platform.crtm_dir }}/tmi_trmm.TauCoeff.bin"
      v.seviri_m10.SpcCoeff.bin: "{{ platform.crtm_dir }}/v.seviri_m10.SpcCoeff.bin"
    namelist:
      update_values:
        model_inputs:
          filename: "{{ post.mpassit.run_dir }}/{{ '%03d' % (leadtime.total_seconds() / 3600) }}/MPAS-A_out.{{ (cycle + leadtime).strftime('%Y-%m-%d_%H.%M.%S') }}.nc"
          ioform: netcdf
          grib: grib2
          datestr: "{{ (cycle + leadtime).strftime('%Y-%m-%d_%H:%M:%S') }}"
          modelname: RAPR
          submodelname: MPAS
          filenameflux: "{{ filename }}"
          filenameflat: "{{ post.upp.files_to_copy['postxconfig-NT.txt'] }}"
        nampgb:
          numx: 2
    run_dir: '{{ user.experiment_dir }}/{{ cycle.strftime("%Y%m%d%H") }}/upp/{{ "%03d" % (leadtime.total_seconds() / 3600) }}'

  platform:
    account: '{{ platform.account }}'
    scheduler: '{{ platform.scheduler }}'
